.post-container {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 30px auto;
}

.post-description {
    font-size: 16px;
    color: #333;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 16px;
}

.likes-container {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.likes-count {
    margin: 0;
    font-size: 14px;
}

.like-icon {
    color: blue;
    margin-left: 8px;
    cursor: pointer;
}

.comments-button {
    display: inline-block;
    margin-top: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #787b7e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comments-button:hover {
    background-color: #0056b3;
}
.likes-comments-container {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 70%;
    /* Adjust this value for the desired space between likes and comments */
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    gap: 80px;
    /* Adjust this value for the desired space between the like button and the comment button */
}