/* Modal overlay */
.n-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
}

/* Modal content */
.n-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    max-height: 90vh;
    min-height: 90vh;
    /* Set max-height to control the scrollable area */
    overflow-y: auto;
    /* Enable vertical scrolling */
    position: relative;
}

/* Close button */
.n-close-button {
    position: fixed;
    top: 30px;
    right: 420px;
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}
.n-close-button:hover{
    background-color:rgb(176, 176, 181);
    transition: 0.3s;
    border-radius: 50%;
}