.post-container {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    background-color: #f9f9f9;
    width: 600px;
    /* min-width: 500px; */
    margin: 30px auto;
}

.post-description {
    font-size: 16px;
    color: #333;
    max-width: 100%;
    word-wrap: break-word;
    /* Breaks long words onto the next line */
    word-break: break-all;
    /* Ensures any long words break at any character to fit the line */
    overflow-wrap: break-word;
    /* Ensures any long text breaks properly */
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 16px;
}

.likes-container {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.likes-count {
    margin: 0;
    font-size: 14px;
}

.like-icon {
    color: #1877f2;
    margin-left: 8px;
    cursor: pointer;
}




.likes-comments-container {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 70%;
    /* Adjust this value for the desired space between likes and comments */
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    gap: 80px;
    /* Adjust this value for the desired space between the like button and the comment button */
}